@import url(https://fonts.googleapis.com/css?family=Erica+One);

  
h1 {
    cursor: default;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    margin: auto;
    display: block;
    
    animation: bounce .6s ease infinite alternate;
    
    font-family: 'Erica One', cursive;
    font-size: 80px;
    color: #FFF;
    text-align: left;
    line-height: 100px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(235, 27, 190, 0.6);
  }
  /* ANIMATION */

   @keyframes bounce {
    100% {
      top: -10px;
      
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 30px 30px rgba(98, 9, 158, 0.3);
    }
  }


#bienvenidos{
    text-align:center;padding: 20px;margin: 20px;
}
#blog h3,h5{
    text-align: center;
   
}
#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 280px; 
    height: 186px;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    

}
body{
    background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   

}
